<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ruta">
            <h2><span>Ruta</span> {{ ruta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Lugares Disponibles</span></dt>
                <dd>
                    <span>{{ ruta.lugaresDisponibles }}</span>
                </dd>
                <dt><span>Inicio</span></dt>
                <dd>
                    <span>{{ ruta.inicio }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ruta', ruta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
