<div>
    <h2 id="page-heading">
        <span>Transportes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transporte" [routerLink]="['/transporte/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Transporte
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transportes?.length === 0">
        <span>No transportes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transportes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Lugares</span></th>
                    <th scope="col" ><span>Marca</span></th>
                    <th scope="col" ><span>Sub Marca</span></th>
                    <th scope="col" ><span>No Serie</span></th>
                    <th scope="col" ><span>Placas</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transporte of transportes ;trackBy: trackId">
                    <td><a [routerLink]="['/transporte', transporte.id, 'view']">{{ transporte.id }}</a></td>
                    <td>{{ transporte.lugares }}</td>
                    <td>{{ transporte.marca }}</td>
                    <td>{{ transporte.subMarca }}</td>
                    <td>{{ transporte.noSerie }}</td>
                    <td>{{ transporte.placas }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transporte', transporte.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transporte', transporte.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transporte)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
