<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transporte">
            <h2><span>Transporte</span> {{ transporte.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Lugares</span></dt>
                <dd>
                    <span>{{ transporte.lugares }}</span>
                </dd>
                <dt><span>Marca</span></dt>
                <dd>
                    <span>{{ transporte.marca }}</span>
                </dd>
                <dt><span>Sub Marca</span></dt>
                <dd>
                    <span>{{ transporte.subMarca }}</span>
                </dd>
                <dt><span>No Serie</span></dt>
                <dd>
                    <span>{{ transporte.noSerie }}</span>
                </dd>
                <dt><span>Placas</span></dt>
                <dd>
                    <span>{{ transporte.placas }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transporte', transporte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
