<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="servicio">
            <h2><span>Servicio</span> {{ servicio.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{ servicio.fecha }}</span>
                </dd>
                <dt><span>Lugares</span></dt>
                <dd>
                    <span>{{ servicio.lugares }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/servicio', servicio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
